* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.header-container{
    height:0rem;
}
.header{
    height:4.25rem;
    position:fixed;
    top:0rem;
    left:0;
    right:0;
    background:white;
    overflow: hidden;
    z-index:1;
    white-space: nowrap;
    color:#757575;
    box-shadow:0px 0px 0.25rem gray;
    transition: top 0.25s;
    -webkit-transition: top 0.25s;
    font-size:0rem;
}
#menu{
    position:fixed;
    top:0rem;
    left:-12.5rem;
    bottom:0rem;
    width:12rem;
    background:white;
    z-index:3;
    color:#757575;
    transition: left 0.25s;
    -webkit-transition: left 0.25s;
    box-shadow:0px 0px 0.5rem gray;
}
#menu .title {
    position:absolute;
    top:0;
    left:0;
    right:0;
    height:4.5rem;
    overflow:hidden;
}
#menu-shade {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:2;
    background-color:rgba(0.5,0.5,0.5,0.5);
    display:none;
    opacity:0;
}
#menu-shade.visible {
    display:block;
}
#menu .border{
    width:100%;
    height:4.25rem;
    display:inline-block;
    /*box-shadow:0 0 0.25rem black;*/
}
#scramble{
    opacity:1;
    transition: opacity 0.5s;
}
#scramble.hidden{
    opacity:0;
}
.header div.oi::before {
    padding:1.625rem 1.5rem;
    font-size:1rem;
    line-height:1rem;
    display: inline-block;
}
.title div.oi::before {
    padding:1.625rem 1.5rem;
    font-size:1rem;
    line-height:1rem;
    display: inline-block;
}
div.oi{
    display:inline-block;
}
.header a{
    padding:1.625rem 0.25rem;
    text-decoration: none;
}
.header h1{
    padding:1.5rem 0rem;
    font-size:1.25rem;
    line-height:1.25rem;
    display:inline-block;
    font-weight:600;
}
.title h1{
    padding:1.5rem 0rem;
    font-size:1.25rem;
    line-height:1.25rem;
    display:inline-block;
    font-weight:600;
}
.title{
    font-size:0;
}
html {
    height:100%;
    width:100%;
}
body {
    height:100%;
    width:100%;
    overflow-y:auto;
    font-family: "Lato", sans-serif;
}
body.noscroll{
    position:fixed;
    overflow-y:scroll;
}
h1{
    font-weight:300;
    font-family: "Nunito Sans", sans-serif;
}
.stuffs-container{
    display:flex;
    align-items:center;
    justify-content: center;
    width:100%;
    height:100%;
}
.stuffs h1{
    font-size:20vw;
    font-weight:200;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow:hidden;
    max-width:100%;
}
.stuffs p {
    font-size:7vw;
    line-height:140%;
    font-weight:200;
    font-family:"Nunito Sans", sans-serif;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
:root{
    --thumb-color: #BBB;
    --thumb-color-hover: #999;
    --track-color: #eee;
    --width: 100%;
}
::-webkit-scrollbar-thumb {
  background-color: var(--thumb-color);
  border-radius: 13px;
  
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--thumb-color-hover);
  
}
::-webkit-scrollbar-thumb:active {
  background-color: var(--thumb-color-hover);
  
}
::-webkit-scrollbar-track {
  background-color: var(--track-color);
  border: 0px none #ffffff;
  border-radius: 0px;
  
}
::-webkit-scrollbar-track:hover {
  background-color: var(--track-color);
  
}
::-webkit-scrollbar-track:active {
  background-color: var(--track-color);
  
}
::-webkit-scrollbar-corner {
  background-color: var(--track-color);
  
}
@media (min-width:700px) {
    .stuffs h1{
        font-size:140px;
        font-weight:200;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow:hidden;
        max-width:100%;
    }
    .stuffs p {
        font-size:50px;
        line-height:140%;
        font-weight:200;
        font-family:"Nunito Sans", sans-serif;
    }
}
.stuffs {
    padding:6rem 1rem;
    text-align:center;
    color:#555;
    width:100%;
}
.grays {
    padding:2rem 1rem;
    text-align:left;
    max-width:1024px;
    min-height:100%;
    margin-right:auto;
    margin-left:auto;
}
.grays h1{
    
        font-size:5.5rem;
        font-weight:200;
    
}
.grays-container{
    background-color:#EEE;
    min-height:100%;
}