* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.header-container{
    height:4.25rem;
}
.header{
    height:4.25rem;
    position:fixed;
    top:0rem;
    left:0;
    right:0;
    background:white;
    overflow: hidden;
    z-index:1;
    white-space: nowrap;
    color:#757575;
    box-shadow:0px 0px 0.25rem black;
    transition: top 0.25s;
    -webkit-transition: top 0.25s;
    font-size:0rem;
}
#scramble{
    opacity:1;
    transition: opacity 0.5s;
}
#scramble.hidden{
    opacity:0;
}
.header div.oi::before {
    padding:1.625rem 1.5rem;
    font-size:1rem;
    line-height:1rem;
    display: inline-block;
}
div.oi{
    display:inline-block;
}
.header a{
    padding:1.625rem 0.25rem;
    text-decoration: none;
}
.header h1{
    padding:1.5rem 0rem;
    font-size:1.25rem;
    line-height:1.25rem;
    display:inline-block;
    font-weight:600;
}
html {
    height:100%;
}
body {
    height:100%;
    font-family: "Lato", sans-serif;
}
h1{
    font-weight:300;
    font-family: "Nunito Sans", sans-serif;
}
.stuffs h1{
    font-size:5rem;
    font-weight:200;
}
.stuffs p {
    font-size:1.5rem;
    line-height:140%;
    font-weight:200;
    font-family:"Nunito Sans", sans-serif;
}
.stuffs {
    padding:4rem 1rem;
    text-align:center;
    color:#555;
}